
html {
    margin: 0;
    height: 100%;
    font-family: "Nunito", sans-serif;
    background-color: #ECEAE8;
}
body {
    margin: 0;
    color: #212529;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    color: #212529;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/newsroom.jpg") no-repeat center center;
    background-color: white; 
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-between;
} 
.container {
    width: 95%;
    margin: auto;
    overflow: hidden;
    margin-top: 30px;
}
.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#fff;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
}
.top-nav li {
	display: inline;
	float: left;
}
.top-nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 18px;
}
/* Change the link color on hover */
.top-nav li a:hover {
    background-color: #007bff;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right:10px;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	text-align: left !important;
	color:#212529 !important;
}
.dropdown-content a:hover {background-color:#f9f2f2!important;}

.dropdown:hover .dropdown-content {
    display: block;
}
.active {
    background-color: #007bff;
    border-right: 1px solid #fff;
}
.card {
    padding: 2px 5px;
    font-size: 15px;
    width: 200px;
}
.card h3 {
    color: #212529;
}
.left {
    text-align: left;
}
.stretch {
    display: flex;
    align-items: stretch;
}
form, p {
    font-optical-sizing: 50px
}
/* Table for users */
#users {
    border-collapse: collapse;
    width: 100%;
    color: #212529;
}

#users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {
	background-color: #ddd;
    cursor: pointer;
}
.center {
    text-align: center;
}
#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007bff;
    color: white;
    font-size: 20px;
}
.addBtn {
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.btn {
    opacity: 1;
}

footer {
    border-top: 1px solid #212529
}
